@model List<DevFolioBireysel.Models.TblTestimonial>
@{
    ViewBag.Title = "Testimonial";
    Layout = "~/Views/AdminLayout/AdminLayout.cshtml";
}

<h2>Referanslar</h2>
<div class="container">
    <a href="/Testimonial/CreateTestimonial" class="btn btn-info">Yeni Referans Ekle</a>
</div>
<br />
<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Adı Soyadı</th>
            <th>Açıklama</th>
            <th>Fotoğraf</th>
            <th>Durumu</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TestimonialID</td>
                <td>@item.NameSurname</td>
                <td>@item.Description</td>
                <td>@item.ImageUrl</td>
                <td>@item.Status</td>
                <td><a href="/Testimonial/DeleteTestimonial/@item.TestimonialID" class="btn btn-danger">Sil</a></td>
                <td><a href="/Testimonial/UpdateTestimonial/@item.TestimonialID" class="btn btn-success">Güncelle</a></td>
            </tr>
        }
    </table>
</div>
